body, table, div, p, dl {
	font: unset;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-size: 1.0vw;
}
body {
	color: #e3e3e4;
	background-color: #1e1e1e;
}
a {
	color: #7174b2;
}
.alphachar a {
	color: white;
}
div.toc {
	background-color: unset;
	border: 1px solid #D8DFEE;
	border-radius: 7px 7px 7px 7px;
	float: right;
	height: auto;
	margin: 0 8px 10px 10px;
	width: 200px;
}
.PageDoc {
	margin-left:2%;
	margin-right:2%;
	float:left;
	width:96%;
}
#MSearchBox {
	border-radius: unset;
}
div.toc h3 {
	color: unset;
	font: unset;
	font-size: 1.1vw;
}
#titlearea
{
	border-bottom: unset;
	float:left;
	width:100%;
	background-color:#10141c;
}
#main-nav{
	background-color: #000000;
	float:left;
	width:100%;
}
#projectname
{
	float:left;
	margin: 0px;
	padding: 1%;
	width: 80%;
}
#projectbrief {
	font-size: 1.2vw;
	width:100%;
	float: left;
}
div.toc li {
	background: unset;
	font: unset;
	font-family: "Titillium Web",sans-serif;
}
.select {
	font-size: 1.5vw;
	text-decoration: none;
	margin: 0;
	border: none;
	background-color: unset;
	color: white;
}
.contents a:visited {
	color: #8689d6;
}
.context h1, .context h2, .context h3, .context h4, .context h5 {
	color: #e3e3e4;
	margin-bottom: 0.75em;
	font-size: 2.25em;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 1.15em;
}
h2.groupheader {
	color: #e3e3e4;
	border-bottom:	2px  #222840 solid;
}
.directory tr.even {
	background-color: unset;
}
div.header
{
	background-image: unset;
	background-repeat:unset;
	background-color: unset;
	border-bottom:	2px #222840 solid;
}
div.directory {
	margin: unset;
	border-top: 2px #222840 solid;
	border-bottom: unset;
}
.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
	background-color: unset;
	border: none;
	margin: 4px;
	padding: 1px 0 0 8px;
}

.memSeparator {
	border-bottom: unset;
}

.memtitle {
	padding: unset;
	border-top: unset;
	border-left: unset;
	border-right: unset;
	border-top-right-radius: unset;
	border-top-left-radius: unset;
	margin-bottom: unset;
	background-image: unset;
	background-repeat: unset;
	background-color: unset;
	line-height: unset;
	font-weight: 300;
	float:left;
}
span.mlabel {
	background-color: unset;
	text-shadow: unset;
	color: #4f9d08;
	border-radius: unset;
	border-top:unset;
	border-left:unset;
	border-right:unset;
	border-bottom:unset;
	text-shadow: none;
}
.memitem {
	background-color: unset;
	filter: brightness(85%);
	color: #e3e3e4 ;
}
.memproto, dl.reflist dt {
	border-top: unset;
	border-left: unset;
	border-right: unset;
	text-shadow: unset;
	background-color: unset;
	box-shadow: unset;
	border-top-right-radius: unset;
	-moz-box-shadow: unset;
	-moz-border-radius-topright: unset;
	-webkit-box-shadow: unset;
	-webkit-border-top-right-radius: unset;

}
.memdoc, dl.reflist dd {
	border-bottom: unset;
	border-left: unset;
	border-right: unset;
	background-color: unset;
	background-image: unset;
	background-repeat:unset;
	background-color: unset;
	border-bottom-left-radius: unset;
	border-bottom-right-radius: unset;
	box-shadow: unset;
	-moz-border-radius-bottomleft: unset;
	-moz-border-radius-bottomright: unset;
	-moz-box-shadow: unset;
	-webkit-border-bottom-left-radius: unset;
	-webkit-border-bottom-right-radius: unset;
	-webkit-box-shadow: unset;
}
.paramname {
	color: unset;
}
hr {
	height: 0px;
	border: none;
	border-top:	2px  #222840 solid;
}
.icon {
	background-color: unset;
	color: #4f9d08;
	text-align: center;
	border-radius: 4px;
	margin-left: 2px;
	margin-right: 2px;
}
.classindex dl.odd {
	background-color: unset;
}
.sm-dox {
	background-image:unset;
}
#nav-path
{
	visibility: hidden;
}
.topbar_breadcrump
{
	width:100%;
	margin-top: 20px;
	padding: 10px;
}
ul.breadcrump {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.breadcrump > li {
	display: inline;
	font-family: 'Titillium Web';font-size: 2vw;
}
#top
{
	background-color: #0c0c0c;
}
.sm-dox a,
.sm-dox a:focus,
.sm-dox a:hover,
.sm-dox a:active {
	font-family: unset;
	text-shadow: unset;
	color: #15981a;
	;
}

.sm-dox ul a,
.sm-dox ul a:focus,
.sm-dox ul a:hover,
.sm-dox ul a:active {
	background-color: #10131f;
	color: #17a81a;
}
.sm-dox ul {
	border: unset;
	background:unset;
	border-radius:unset ;
	box-shadow:unset;
}
.sm-dox ul a:hover {
	background-image: unset;
	background-repeat:unset;
	color:#c1c1c4;
	text-shadow:unset;
}
.sm-dox a,
.sm-dox a:focus,
.sm-dox a:active,
.sm-dox a:hover,
.sm-dox a.highlighted {
	background-image:unset;
	background-repeat:unset;
	background-position:unset;
	border-radius:unset;
}
div.fragment {
	border: unset;
	background-color: #313648;
	padding: 1%;
}

